h4{
    margin: 0;
}
.cart-details{
    border: 1px solid goldenrod;
    max-height: 150px;
    overflow-y: scroll;
}
.single-item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: gray;
    margin: 10px 25px;
    align-items: center;
    border-radius: 10px;
    color: aliceblue;
    
}
.single-item .item-index{
    display: flex;
    align-items: center;
}
.item-index span{
    margin-right: 10px;
    
}
.item-index h4{
    color: bisque;
}